/* Universal */

html, body {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

a {
    text-decoration-line: none;
    color: inherit;
}

h2, h3, button {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

input {
    width: 50%;
    border: solid 1px hsl(243, 87%, 12%);
}

input,
button {
    height: 3rem;
    border-radius: 5px;
}

button {
    padding: 1rem 4rem;
    border: none;
    font-size: 0.85rem;
    min-width: fit-content;
}

button:hover {
    cursor: pointer;
}

.inline-icon {
    display: inline;
}

.logo {
    max-width: fit-content;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 6rem;
}

.section-text,
.section-visual,
.cta-input {
    padding: 1rem;
    width: 50%;
}

.section-h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.section-h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section p {
    margin-bottom: 1rem;
}

/** Colors **/

.light-bg {
    background-color: hsl(240, 75%, 98%);
}

.white-bg {
    background-color: hsl(0, 0%, 100%);
}

.gray-bg {
    background-color: hsl(0, 0%, 75%);
}

.medium-bg {
    background-color: hsl(238, 22%, 44%);
}

.dark-bg {
    background-color: hsl(243, 87%, 12%);
}

.accent-bg {
    background-color: hsl(224, 93%, 58%);
}

.light-txt {
    color: hsl(240, 75%, 98%);
}

.dark-txt {
    color: hsl(243, 87%, 12%);
}

.accent-txt {
    color: hsl(170, 45%, 43%);
}

/**DEBUGGING BORDERS

.header-nav {
    border: solid 1px purple;
}

.section {
    border-bottom: solid 1px darkred;
}

.section-text,
.section-visual,
.cta-input {
    border: solid 1px gray;
}

.section-quote {
    border: solid 1px darkblue;
}

.footer-contact,
.footer-nav,
.footer-social {
    border: solid 1px orange;
} **/

/* Header */

.headernav-link {
    font-size: 1.25rem;
    margin-left: 2rem;
}

/* Hero Section */

.hero-cta {
    display: flex;
    align-items: center;
}

.hero-button {
    margin-left: 1rem;
}

/* Divider Curve */

#bgcurve-desktop,
#bgcurve-mobile {
    width: 100%;
    height: auto;
}

#bgcurve-mobile {
    display: none;
}

/* Description Section */

.section-quote {
    font-family: "Raleway", sans-serif;
    width: 50%;
    padding: 1.5rem;
    margin-top: 1rem;
    font-size: 0.85rem;
}

.quote-icon {
    width: 1rem;
    margin-bottom: 1rem;
}

.quote-source {
    display: flex;
}

.qsource-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.qsource-name,
.qsource-title {
    margin-top: 0.5rem;
    line-height: 0;
}

.qsource-name {
    font-size: 0.75rem;
    font-weight: 700;
}

.qsource-title {
    font-size: 0.65rem;
}


/* CTA Section */

.cta-section {
    align-items: flex-start;
}

.cta-input {
    display: flex;
    flex-direction: column;
}

.cta-inputfield {
    width: 80%;
    border: none;
    margin-bottom: 1rem;
}

.cta-button {
    padding: 1rem 2rem;
    max-width: fit-content;
}

/* Footer */

.footer {
    flex-direction: column;
    align-items: start;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-contact,
.footer-nav,
.footer-social {
    display: flex;
    padding: 0.25rem;
    width: 25%;
}

.footer-contact,
.footer-nav {
    flex-direction: column;
}

.contact-info {
    margin: 0.5rem 0;
}

.contact-icon {
    margin-right: 0.35rem;
}

.footer-nav {
    max-height: 9rem;
    flex-wrap: wrap;
}

.social-icon {
    margin-right: 1rem;
    border-radius: 50%;
    border: solid 2px white;
    height: fit-content;
    width: 2rem;
    text-align: center;

}

/* Attribution */

.attribution {
    justify-content: center;
    font-size: 0.85rem;
}

.attribution p {
    margin: 0 0.25rem;
}

/* Media Queries */


@media screen and (max-width: 600px) {
    
    .section {
        flex-direction: column;
        justify-content: center;
        padding: 3rem 0;
    }

    .section-text,
    .section-visual,
    .cta-inputfield {
        width: 80%;
    }

    .section-h2 {
        font-size: 2rem;
    }

    .section-h3 {
        font-size: 1.5rem;
    }

    .footer,
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-contact,
    .footer-nav,
    .footer-social {
        width: 60%;
    }

}

@media screen and (max-width: 375px) {

    #bgcurve-desktop {
        display: none;
    }
    
    #bgcurve-mobile {
        display: block;
    }
}